/* &==============&&& GENERAL STYLE &&&=============== */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    outline: none;
}

:root {
    --main-color: rgb(34, 34, 34);
    --secondary-color: rgb(255, 255, 255);
    --font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Poppins', sans-serif;

}

a,
a:hover,
a:focus {
    color: inherit;
}

span {
    display: inline-block;
}

section {
    padding: 80px 0;
}

/*^==================================================================== */
body {
    color: var(--main-color);
    font-weight: 400;
}

/* &======================= START NAVBAR STYLE ======================== */
.navbar {

    background: rgba(0, 0, 0, 0.8);

}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.navbar-nav .nav-link {
    transition: all .5s;
    font-weight: 400;
    color: var(--secondary-color);
}


.navbar .logo {
    padding: 18px 0px 0px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.navbar .navbar-nav li a {
    font-size: 14px;
    margin: 20px 10px 0;
    position: relative;
    padding: 0px 5px;
    font-family: var(--secondary-font-family);
    font-weight: 400;

}

.navbar .navbar-nav li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: -3px;
    transition: width 0.5s;
}

.navbar .navbar-nav li a:hover::before {
    width: 100%;
}

body:not(:has(:target)) .home-link,
body:has(#Home:target) .home-link,
body:has(#About:target) .about-link,
body:has(#Services:target) .services-link,
body:has(#Works:target) .works-link,
body:has(#Clients:target) .clients-link,
body:has(#Team:target) .team-link,
body:has(#Contact:target) .contact-link {
    color: white;
}

body:not(:has(:target)) .home-link::before,
body:has(#Home:target) .home-link::before,
body:has(#About:target) .about-link::before,
body:has(#Services:target) .services-link::before,
body:has(#Works:target) .works-link::before,
body:has(#Clients:target) .clients-link::before,
body:has(#Team:target) .team-link::before,
body:has(#Contact:target) .contact-link::before {
    width: 100%;
}

/* &======================= END NAVBAR STYLE ======================== */



/* &======================= START HOME STYLE ======================== */
#Home {
    background-image: url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
}

#Home .content {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
}

#Home .content .home-content h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 50px;
}

#Home .content .home-content h1 span {
    font-weight: 200;
    font-size: 60px;
    padding: 12px 0px;
    line-height: 72px;
}



#Home .content .home-content .inmation h1 span::after {
    content: " | ";
    animation: text 8s infinite;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
}


@keyframes text {
    1% {
        content: " D | ";
    }

    2% {
        content: " De | ";
    }

    3% {
        content: " Dev | ";
    }

    4% {
        content: " Deve | ";
    }

    5% {
        content: " Devel | ";
    }

    6% {
        content: " Develo | ";
    }

    7% {
        content: " Develop | ";
    }

    8% {
        content: " Develope | ";
    }

    9% {
        content: " Developer | ";
    }

    23% {
        content: " Develope | ";
    }

    24% {
        content: " Develop | ";
    }

    25% {
        content: " Develo | ";
    }

    26% {
        content: " Devel | ";
    }

    27% {
        content: " Deve | ";
    }

    28% {
        content: " Dev | ";
    }

    29% {
        content: " De | ";
    }

    30% {
        content: " D | ";
    }

    31% {
        content: " D | ";
    }

    32% {
        content: "  ";
    }

    33% {
        content: " D | ";
    }

    34% {
        content: " De | ";
    }

    35% {
        content: " Des | ";
    }

    36% {
        content: " Desi | ";
    }

    37% {
        content: " Desig | ";
    }

    38% {
        content: " Design | ";
    }

    39% {
        content: " Designe | ";
    }

    40% {
        content: " Designer | ";
    }

    54% {
        content: " Designer | ";
    }

    55% {
        content: " Designe | ";
    }

    56% {
        content: " Design | ";
    }

    57% {
        content: " Desig | ";
    }

    58% {
        content: " Desi | ";
    }


    59% {
        content: " Des | ";

    }

    60% {
        content: " De | ";

    }

    61% {
        content: " D | ";

    }

    62% {
        content: "  ";

    }

    63% {
        content: " L | ";
    }

    64% {
        content: " La | ";
    }

    65% {
        content: " Lar | ";
    }

    66% {
        content: " Larr | ";
    }

    67% {
        content: " Larry | ";
    }


    68% {
        content: " Larry D | ";
    }


    69% {
        content: " Larry Da | ";
    }

    70% {
        content: " Larry Dan | ";
    }

    71% {
        content: " Larry Dani | ";
    }

    72% {
        content: " Larry Danie | ";
    }

    73% {
        content: " Larry Daniel | ";
    }

    88% {
        content: " Larry Daniels | ";
    }

    89% {
        content: " Larry Daniel | ";
    }

    90% {
        content: " Larry Danie | ";
    }

    91% {
        content: " Larry Dani | ";
    }

    92% {
        content: " Larry Dan | ";
    }

    93% {
        content: " Larry Da | ";
    }

    94% {
        content: " Larry D  | ";
    }

    95% {
        content: " Larry | ";
    }

    96% {
        content: " Larr | ";
    }

    97% {
        content: " Lar | ";
    }

    98% {
        content: " La | ";
    }

    100% {
        content: " L | ";
    }



}


#Home .content .home-content .icon-home .icon {
    width: 3rem;
    height: 3rem;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.7);
}

/* &======================= END HOME STYLE ======================== */



/* &======================= START ABOUT STYLE ======================== */
#About {
    background-color: white;
    padding: 100px;
}



#About .img-hero {
    padding-bottom: 30px;
    padding-left: 30px;


}

#About .row .img-hero {
    position: relative;
    z-index: 4;


}

#About .row .img-hero::after {
    content: " ";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;

}

#About .content {
    margin-bottom: 30px;
    line-height: 20px;

}

#About .content h3 {
    font-weight: 800;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

#About .content #web {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--secondary-font-family);

}

#About .content p {
    line-height: 24px;
    font-size: 15px;
    color: #748182;
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

#About .skills {
    margin-top: 30px;
}

#About .skills .item {
    margin-bottom: 30px;
}

#About .skills h6 {
    font-size: 13px;
    color: #fff;
    position: relative;
    z-index: 2;
}

#About .skills .skills-progress {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}

#About .skills .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#About .skills .skills-progress span::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}



#About .content .buton-bg {
    background: #1c1c1c;
    color: #eee;
    font-family: var(--secondary-font-family);
    font-weight: 400;
}

#About .content .buton-bg:hover {
    background: transparent;
    color: #1c1c1c;
}

#About .content .buton {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
    margin: 20px 5px 0px;
    font-family: var(--secondary-font-family);
    font-weight: 4;
}

#About .content .buton-lite:hover {
    background: #1c1c1c;
    color: #eee;
}

/* <!-- &============={START SERVICES STYLE}================== --> */
#Services {
    background: #F7F7F7;
}

#Services .container .titel,
#Works .titile-work {
    margin-bottom: 80px;
    text-align: center;
}

#Services .container .titel h3,
#Works .container .titile-work h3,
#Clients .container .titile-Clients h3,
#Team .title-team h3,
#Contact .titile-contact h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}

#Services .container .titel h3::after,
#Works .container .titile-work h3::after,
#Clients .container .titile-Clients h3::after,
#Team .title-team h3::after,
#Contact .titile-contact h3::after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

#Services .container .row .item .icon {
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    transition: all 0.5s;
    color: var(--main-color);
}

#Services .container .row .item:hover .icon {
    background: var(--main-color);
    color: #f4f4f4;
}

#Services .container .row .item {
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    border-radius: 5px;
}

#Services .container .row .item h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
    font-family: var(--font-family);
}

#Services .container .row .item p {
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

/* <!-- &============={START WORKS SECTION STYLE}================== --> */
#Works .container .nav-work {
    margin-bottom: 50px !important;
}

#Works .container .nav-work .nav-pills .nav-link {
    color: #222 !important;
    margin: 0 15px;
    font-weight: 700;
    font-size: 16px;
    background: transparent !important;
    font-family: var(--secondary-font-family);
}

#Works .container .nav-work {
    background: transparent !important;
    position: relative;
}

/* #Works .container .nav-work .nav-pills .nav-link button::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #111;
    left: 0;
    bottom: -3px;
    transition: width 0.5s;
} */

/* .Works .container .nav-work .nav::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #111;
    left: 0;
    bottom: -3px;
    transition: width 0.5s;
} */

#Works .container .row .card .layer {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;

}

#Works .container .row .card:hover .layer {
    opacity: 1;
}


#Works .container .row .card .layer .layer-content .icon .icon-r,
#Works .container .row .card .layer .layer-content .icon .icon-l {

    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
}

#Works .container .row .card .layer .layer-content .icon .icon-r:hover,
#Works .container .row .card .layer .layer-content .icon .icon-l:hover {
    background: transparent;
    color: #000;
}

/*  < !-- &============= START CLINTS SECTION STYLE==================--> */
#Clients {
    background: #F7F7F7;
}

#Clients .titile-Clients {
    margin-bottom: 80px;
}

#Clients .Clients-content .carousel .carousel-inner .carousel-item .inner .img-round {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

#Clients .Clients-content .carousel .carousel-inner .carousel-item .inner p {
    margin: 20px;
    font-size: 15px;
    color: #748182;
    word-spacing: 2px;
    padding: 0 80px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

#Clients .Clients-content .carousel .carousel-inner .carousel-item .inner h6 {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
    font-family: var(--font-family);
}


#Clients .Clients-content .carousel .carousel-inner .carousel-item .inner span {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}

#Clients .Clients-content .carousel .carousel-inner .carousel-item .inner {
    padding: 20px 70px;
}

#Clients .Clients-content .carousel-indicators [data-bs-target] {
    width: 20px;
    background: #d6d6d6;
    border-radius: 50%;
    height: 1px;
    padding: 1px;
}

#Clients .Clients-content .carousel-indicators [data-bs-target]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none;
}

/* === < !-- &============= START SOCIAL SECTION STYLE ==================-->== */
.social .row .item .icon {
    font-size: 30px;
    margin-bottom: 15px;
    color: #343434;
}

.social .row .item h3 {
    font-weight: 900;
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-size: 30px;
}

.social .row .item p {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
    color: #748182;
    font-family: var(--secondary-font-family);
}

/*  < !-- &=============START TEAM SECTION STYLE ==================--> */
#Team .row .content {
    background-color: rgba(52, 52, 52, .8);
    margin-bottom: 10px;
    border-radius: 6px;
}

#Team .title-team {
    margin-bottom: 80px;
}

#Team .team-card .card-body {
    background-color: #5b5b5b;
}

#Team .card .img-layout .layout {
    background-color: rgba(255, 255, 255, 0.95);
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    opacity: 0;
    transition: all 1s;

}

#Team .card:hover .img-layout .layout {
    opacity: 1;
    transform: rotatey(180deg);

}

#Team .card:hover .img-layout .layout i {
    transform: rotatey(180deg);
}

#Team .card .img-layout .layout li {
    width: 3rem;
    height: 3rem;
    background-color: #1c1c1c;
    transition: all 1s;


}

#Team .card .img-layout .layout li:hover {
    background-color: #fff;
    border: 1px solid #1c1c1c;
}

#Team .card .img-layout .layout li:hover i {
    color: #1c1c1c;
}

#Team .team-card .card .img-layout img {
    transition: all 1s;

}

#Team .team-card .card .img-layout:hover img {
    transform: scale(1.2, 1.2);

}

#Team.team-card .card {
    overflow: hidden;
}

#Team .team-card .card .img-layout {
    overflow: hidden;
}



/* . < !-- &=============START CONTACT SECTION STYLE ==================--> */
#Contact .titile-contact {
    margin-bottom: 80px;
}

#Contact .row .inf {
    margin-bottom: 50px;
}

#Contact .row .inf .item {
    margin-bottom: 30px;
}

#Contact .row .inf .item:hover .icon {
    background: #1c1c1c;
    color: #eee;
}

#Contact .row .inf .item .icon {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}


#Contact .row .inf .item h6 {
    font-weight: 700;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-size: 16px;
}

#Contact .row .inf .item p {
    font-size: 15px;
    color: #748182;

}

#Contact .form .form-group {
    margin-bottom: 15px;

}

#Contact .form input[type="text"],
#Contact .form input[type="email"],
#Contact .form textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;

}

#Contact .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
}

#Contact .form .buton {
    padding: 10px 40px;
}

#Contact .form .buton {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Contact .form .buton:hover {
    background: #1c1c1c;
    color: #eee;
}

#Contact .form .buton-bg {
    background: #1c1c1c;
    color: #eee;
}

#Contact .form .buton-bg:hover {
    background: transparent !important;
    color: #343434 !important;
}


/* =======START Footer SECTION STYLE======== */
footer {
    background: #1c1c1c;
    padding: 30px;
}

footer p {
    font-size: 13px;
    word-spacing: 2px;
    color: #748182;
}